@import '/styles/css/variables.scss';

.message {
  background-color: $white-color;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;

  &__room {
    padding-top: 10px;
  }
}