$primary-color: #1aa94c;
$secondary-color: #6c757d;
$success-color: #198754;
$info-color: #0dcaf0;
$danger-color: #dc3545;
$warning-color: #ffc107;
$dark-color: #212529;
$light-color: #f8f9fa;
$white-color: #ffffff;

$hover-primary-color: #3950a2;
$hover-secondary-color: #5c636a;
$hover-success-color: #157347;
$hover-info-color: #31d2f2;
$hover-warning-color: #ffca2c;
$hover-danger-color: #bb2d3b;
$hover-light-color: #f9fafb;
$hover-dark-color: #1c1f23;

$background-color: #f2f7ff;

$light-primary-color: #ebf3ff;
$light-primary-color-1: #e8e3fc;

$light-info-color: #7ca9e6;

$light-warning-color: #f0b87f;
$light-warning-color-1: #fdf1e3;

$dark-gray-color: #555555;
$dark-gray-color-2: #888888;

$light-gray-color: #eaeaf0;
$light-gray-color-2: #f3f3f4;
$light-gray-color-3: #7c8db5;
$light-gray-color-4: #dfe3e7;
$light-gray-color-11: #d4d4db;
$light-gray-color-13: #b9b9b9;

$twitter-color: #4BB0FD;
$linkedin-color: #117AB9;
$facebook-color: #17498F;

$title-font-size: 1rem;
$summary-font-size: 0.875rem;

$ssm: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$header-height: 60px;

// $max-width: 84rem;
$max-width: 90rem;

$border-radius: 12px;
$header-height: 60px;
$footer-height: 20px;