@import '/styles/css/variables.scss';

.my-input-password {
  border-radius: 50px !important;
  padding: 0px 15px !important;
  width: 300px;
  // border: solid 1px #c8cbcd !important;
  height: 42px;

  &--mini {
    height: 32px;
    border-radius: $border-radius !important;
  }

  &--max-width {
    width: 100% !important;
  }

  &--light {
    border: 1px solid #e8e8e8;
    background-color: #f5f5f5 !important;
  }

  [class="ant-input-suffix"] {
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
  }
}