.message-box-emoji {
  position: absolute;
  top: 9px;
  left: 5px;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    cursor: pointer;

    &:hover {
      border-radius: 100rem;
      background-color: #ddd;
    }

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}